@use './variables' as *;

@mixin btn(
    $fcolor: $white,
    $bgc: $lightRed,
    $br-color: $lightRed,
) {
    color: $fcolor;
    background-color: $bgc;
    border: 2px $br-color solid;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background-color: $fcolor;
        color: $bgc;
        border: 2px $bgc solid;
    }
}