@use './variables' as *;
@use './buttons' as *;
@use './breakpoints' as *;
@use './inputs' as *;
@use './label' as *;

.form-section {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__title {
        @include inputLabel;
        font-size: 2.5rem;
        
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__label {
        @include inputLabel;
        width: 100%;
        position: relative;
    }
    
    &__input {
        @include inputField;
        width: 100%;
        display: block;
        margin: 0.1rem 0;
    }

    &__note {
        display: none;
        position: absolute;
        transform: translateY(0.5rem);
        z-index: 3;
        background-color: $darkSeaBlack;
        border: 2px solid $popPurple;
        width: 100%;
        padding: 1rem;
        border-radius: 5px
    }

    &__input:focus ~&__note {
        display: block
    }

    &__textarea:focus ~&__note {
        display: block
    }

    &__file-input:hover ~&__note {
        display: block
    }

    &__password-button {
        position: absolute;
        z-index: 2;
        right: 1rem;
        top: 50%;
        cursor: pointer;
        border: none;
        color: $lightRed;
        background-color: transparent;
        font-size: 1.6rem;
        &:hover {
            color: $darkSeaBlack;
        }
    }

    &__textarea {
        @include inputField;
        max-width: 100%;
        min-width: 100%;
        max-height: 100px;
        min-height: 100px;
        resize: none;
    }

    &__file-input {
        @include inputField;
        padding: 0;
        width: 100%;
        margin-top: 0.2rem;
        &::-webkit-file-upload-button {
            @include btn;
            padding: 0.5rem 1rem;
            margin-left: 0;
            font-weight: 700;
        }
    }

    &__linkto {
        @include inputLabel;
        font-size: 1.3rem;
        text-align: center;
        margin-top: 2rem;
    }

    &__button {
        @include btn;
        margin-top: 1rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
        &:disabled {
            background-color: $darkSeaBlack;
            border-color: $darkSeaBlack;
        }
    }

    &__error {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        text-align: center;
        border: 1px solid $lightRed;
        color: $white;
        margin: 1rem 0;
        border-radius: 5px;
        padding: 1rem 0;
        &-paragraph {
            height: min-content;
            margin: 0.4rem 0;
            &:nth-child(1) {
                font-weight: 700;
            }
        }
    }

    &__success {
        @extend .form-section__error;
        &-paragraph {
            @extend .form-section__error-paragraph;
        }
    }
}

@include sm {
    .form-section {
        &__mobile-form-container {
            display: none;
        }
    }
}