@use './variables' as *;
@use './buttons' as *;
@use './breakpoints' as *;

.image-list {
    h2 {
        font-size: 2.5rem;
        padding: 1.2rem;
    }

    &__refetch-btn {
        @include btn;
        margin: 1rem 0;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 100%;
    }
}

@include sm {
    .image-list {
        h2 {
            font-size: 2.7rem;
        }

        width: 100%;
        min-height: 100vh;
        padding: 0 15px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}

@include md {
    .image-list {
        h2 {
            font-size: 3.5rem;
        }

        &__ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

    }
}

::-webkit-scrollbar {
    position: absolute;
    width: 10px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    position: fixed;
    background-color: $popPurple;
    border-radius: 10px;
}
