@use './variables' as *;
@use './buttons' as *;
@use './breakpoints' as *;

@include sm {
    .image-list {
        width: 100%;
        min-height: 100vh;
        padding: 0 15px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
}

@include md {
    .image-list {
        &__ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }

    }
}

::-webkit-scrollbar {
    position: absolute;
    width: 10px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    position: fixed;
    background-color: $popPurple;
    border-radius: 10px;
}
