@use './variables' as *;
@use './buttons' as *;
@use './breakpoints' as *;

.navbar {
    color: $darkSeaBlack;
    background-color: rgba($darkSeaBlack, $alpha: 1);
    border-bottom: 1px solid rgba($white, $alpha: 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 101;
    top: -1px;
    left: 0px;
    width: 100%;
    
    &__logo {
        position: relative;
        z-index: 101;
        font-size: 1.3rem;
        a {
            font-weight: 700;
            color: $white;
            text-decoration: none;
        }
        span {
            color: $lightRed;
            margin-right: 0.5rem;
            font-size: 1.5rem;
            vertical-align: middle;
        }
    }

    &__toggle-btn {
        position: relative;
        z-index: 101;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        color: $lightRed;
        &:hover {
            color: $white;
        }
    }
}

@include sm {
    .navbar {
        grid-column: 1 / 2;
        &__toggle-btn {
            display: none;
        }
        &__dashboard-mobile-container {
            display: none;
        }
    }
}

