@use './variables' as *;
@use './buttons' as *;
@use './breakpoints' as *;

.public {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 3rem 1rem;

    &__header {
        &-title {
            text-transform: uppercase;
            letter-spacing: 0.2rem;
            word-wrap: normal;
            font-size: 5.5rem;
            background: -webkit-linear-gradient($lightRed, $popPurple);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 4rem;
        }

        &-icon {
            position: relative;
            z-index: -1;
            color: $white;
            font-size: 20rem;
            animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        }
    }

    &__welcome {
        font-size: 2rem;
        text-align: left;
    }

    &__desc {
        text-align: justify;
        margin: 1.5rem 0px;
    }

    &__btn {
        &-login {
            margin-right: 2rem;
            @include btn;
        }
        &-signup {
            @include btn($lightRed, $white, $lightRed);
        }
    }
}

@keyframes pulse {
    50% {
        opacity: .5;
    }
}